@model Repaso_t7.Models.Usuario

@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

<h4>Usuario</h4>
<hr />
@if (TempData["ErrorMessage"] != null)

{
    <div class="alert alert-danger mt-4">
        @TempData["ErrorMessage"]
    </div>
}
<div class="row">
    <div class="col-md-4">
        <form asp-action="CheckLogin">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="usuario" class="control-label"></label>
                <input asp-for="usuario" class="form-control" />
                <span asp-validation-for="usuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="contraseña" class="control-label"></label>
                <input type="password" asp-for="contraseña" class="form-control" />
                <span asp-validation-for="contraseña" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Iniciar sesión" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
